<!DOCTYPE html>
<html>
  <head>
    <title>NewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <strong>This is New Application</strong>
      <br>
      <%= link_to "Old page", "http://dev01lep.exphosted.com/two/users" %><br>
      <%= link_to "logout", "/one/logout", method: :delete %><br>
    <% end %>
    <%= yield %>
  </body>
</html>
